

  <div class="flex items-center justify-between h-20 bg-red-400 px-10">

    <div class="flex">
      <a class="text-3xl" href="">LOGO</a>
    </div>

    <div class="flex ">
      <a class="mr-5 font-semibold hover:text-purple-200 duration-500 text-lg cursor-pointer" href="">Home</a>
      <a class="mr-5 font-semibold  hover:text-purple-200 duration-500 text-lg cursor-pointer" href="">Sobre</a>
      <a class="font-semibold hover:text-purple-200 duration-500 text-lg cursor-pointer" href="">Contato</a>
    </div>

  </div>

